@use "imports" as *;


html {
    font: #{$base-font-size}/1.2 $font-sans;
    color: var(--color-light);
    background: var(--color-dark);
    word-break: normal;
}
body {
    @include font-smooth;
    overscroll-behavior: none;
    overflow-x: hidden;

    &.is-loading * {
        cursor: wait !important;
    }
    &.block-scroll {
        overflow: hidden;
    }
}
*, *:before, *:after {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
figure, p, dl, dt, dd, ul, ol, li {
    margin: 0;
    padding: 0;
}
figure, picture {
    display: block;
}
a {
    text-decoration: none;
    color: currentColor;
}
nav li:before {
    display: none;
}
label {
    cursor: pointer;
}
button {
    &[disabled] {
        cursor: not-allowed;
    }
}

// Accessibility outline
// Remove default focus styles for mouse users if :focus-visible is supported
[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
    outline: none;
}
[data-focus-visible-added], *:focus-visible {
    outline: 1px dashed var(--color-primary-dark);
}

// Selection
::selection {
    color: #fff;
    background: var(--color-secondary);
}

// Images glitches fix
// img {backface-visibility: hidden;}



/* Titles
========================================================================== */
#{headings(1,6)} {
    margin: 0;
    font-weight: normal;
    font-style: normal;
}


/* Global elements
========================================================================== */
main {
    position: relative;
    z-index: 1;
    background: var(--color-primary);
}

// Hyphens text
.hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
    word-break: break-word;
}

// Link: Animated underline effect
.link-underline {
    display: inline-block;
    background: linear-gradient(to right, currentColor, currentColor) no-repeat;
    background-size: 0% 1px;
    background-position: 100% 100%;
    transition: background-size 0.3s var(--ease-quart-inout);
    text-decoration: none;

    &:hover {
        background-size: 100% 1px;
        background-position: 0% 100%;
    }
}

// Background
.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(200px, 50vw, 720px);
    background:
        radial-gradient(70% 340% at 103% -250%, $color-red 0%, transparent 100%),
        radial-gradient(90% 380% at -25% -250%, $color-green 0%, transparent 100%);
    mask-image: linear-gradient(180deg, #000 25%, transparent 100%);
}
