@use "imports" as *;


/* ==========================================================================
   TEXT STYLES
========================================================================== */
// Text: Medium
.text-medium {
    font-size: pxrem(16px);
    font-weight: 400;
    line-height: 1.2;

    @include bp (sm) {
        font-size: pxrem(18px);
    }
}

// Text: Normal
.text-normal {
    font-size: pxrem(14px);
    font-weight: 400;
    line-height: 1.2;

    @include bp (sm) {
        font-size: pxrem(16px);
    }
}




/* ==========================================================================
   TITLE STYLES
========================================================================== */
// Title: Medium
.title-medium {
    font-family: $font-sans;
    font-size: pxrem(22px);
    line-height: 0.95;
    font-weight: 600;

    @include bp (sm) {
        font-size: pxrem(32px);
    }

    strong {
        color: var(--color-tertiary);
    }

    // Variant: Bold
    &.is-bold {
        font-weight: 700;
    }
}
