@use "imports" as *;


/* ==========================================================================
   TEXT STYLES
========================================================================== */
// Text: Size
.text-size {
    font-size: pxrem(48px);
    line-height: 1;

    @include bp (sm) {
        font-size: pxrem(60px);
    }
}




/* ==========================================================================
   TITLE STYLES
========================================================================== */
// Title: Size
.title-size {
    font-size: pxrem(16px);
    font-weight: 600;
    line-height: 1.1;

    @include bp (sm) {
        font-size: pxrem(20px);
    }
}