@use "imports" as *;

:root {
    // Sizes
    --screen: var(--vh);
    --container-width: #{$container-width};
    --margin-side: #{$margin-side-m};

    // Spaces
    --space-sm: clamp(16px, 1.5vw, 24px);
    --space-md: clamp(32px, 3vw, 48px);

    // Grid
    --columns: #{$cols-m};
    --column: calc(min(100vw, var(--container-width)) / var(--columns));
    --gutter: #{$gutter-m};

    // Colors
    --color-light: #{$color-beige};
    --color-light-10: #{rgba($color-beige, 0.1)};
    --color-light-20: #{rgba($color-beige, 0.2)};
    --color-light-50: #{rgba($color-beige, 0.5)};
    --color-light-75: #{rgba($color-beige, 0.75)};
    --color-dark: #{$color-grey};
    --color-dark-50: #{rgba($color-grey, 0.5)};
    --color-secondary: #{$color-red};
    --color-secondary-50: #{rgba($color-red, 0.5)};
    --color-tertiary: #{$color-green};
    --color-tertiary-20: #{rgba($color-green, 0.2)};
    --color-tertiary-50: #{rgba($color-green, 0.5)};

    // Animation
    --ease-quart: cubic-bezier(.165, .84, .44, 1);
    --ease-quart-inout: cubic-bezier(.76, 0, .24, 1);
    --ease-cubic: cubic-bezier(.785, .135, .15, .86);

    @include bp (sm) {
        --columns: #{$cols-d};
        --margin-side: #{$margin-side-d};
        --gutter: #{$gutter-d};
    }

    // Dark theme
    // @include darkMode {
    // }
}

@supports (height: 100dvh) {
    :root {
        --screen: 100dvh;
    }
}
