footer {
    margin: 24px 0;
    color: var(--color-light-50);
}

.container {
    display: flex;
    justify-content: space-between;
}

// Allfeat
.allfeat {
    a {
        color: var(--color-light);
        font-weight: 600;
    }
}

// Version
.version {

}
